<div class="menu">
  <ul class="menu-list">
    <li><%= link_to 'Perfil', profile_path %></li>
    <li>Otro Menos</li>
    <li><%= link_to 'Editar Perfil', edit_user_registration_path %></li>
    <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
  </ul>
</div>

<div>
  <% @users.each do |user| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= user.email %></h5>
        
      <% if user == current_user %>
        <h2>Followers: <%= user.followers.count %></h2>
        <h2>Following: <%= user.following.count %></h2>
      <% else %>
        <%= link_to 'Follow', user_relationships_path(user), method: :post unless user.followers.find_by(follower: current_user).present? %>
        <%= link_to 'Unfollow', relationship_path(user.followers.find_by(follower: current_user)), method: :delete if user.followers.find_by(follower: current_user).present? %>
        <h2>Followers: <%= user.followers.count %></h2>
        <h2>Following: <%= user.following.count %></h2>
      <% end %>


        </div>
    </div>
  <% end %>
</div>
