<%= render "partials/nav" %>
<div class="feed">
  <div class="search-section">
    <form class="search-bar">
      <input placeholder="Publicaciones, tendencias." name="query" <%= @q %> >
      <button type="submit" class="search-submit">Buscar</button>
    </form>
  </div>
  <div class="post-new">
    <%= render "posts/formv2" %>
  </div>

  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <div class="head">
          <div class="post-avatar">
            <%= image_tag post.user.avatar_thumbnail, :class => "post-thumbnail" %>
          </div>
          <div class="post-title">  
            <p> <%= link_to(post.user.username, profile_user_path(post.user.id)) %></p>
            <p class="post-date"><%= I18n.l(post.created_at, format: :long) %></p>
          </div>
        </div>
        <br>
        <div class="post-content">
          <%= post.content %>
        </div>
        <br>
        <% if post.image.attached? %>
          <div class="image-wrapper">
            <%= image_tag post.image_thumbnail, class: "post_image" %>
          </div>
        <% end %>
        <% if post.video.attached? %>
          <%= video_tag(url_for(post.video), :controls => "", :class => "post_video") %>
        <% end %>

        <div class="post-stats">
          <div class="like-stats">
            <p><%= post.likes.count %> Me gusta</p>
          </div>
          <div class="comment-stats">
            <p><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comentario' : 'Comentarios'%></p>
          </div>
        </div>
        <hr>

      <div class="post-interactions">
        <div class="likes">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <div class="like" id="like_<%= post.id %>">
            <% if pre_like %>
              <%= link_to post_like_path(post, pre_like), method: :delete, remote: true do %>
                <p><i class="fas fa-heart"></i> Me gusta</p>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(post), method: :post, remote: true do %>
                <p><i class="far fa-heart"></i> Me gusta</p>
              <% end %>
            <% end %>
          </div>
          
        </div>
        <div class="comments">
          <% pre_comment = post.comments.find { |comment| comment.user_id == current_user.id } %>
          <% if pre_comment %>
            <p><i class="fas fa-comment"></i> Comentar</p>
          <% else %>
            <p><i class="far fa-comment"></i> Comentar</p>
          <% end %> 
        </div>
      </div>
      <hr>

<!--Comment section-->
          <div class="comments-section">

            <% post.comments.each do |comment| %>
            <% if !comment.reply_id %>
              <div class="comment-content">
                <div class="content-head">
                  <%= image_tag comment.user.avatar_thumbnail, class: "comment-content-thumbnail" %>
                </div>
                <div class="content-body">
                  <p><%= link_to(comment.user.username, profile_user_path(comment.user.id)) %> <br> <%= comment.content %></p>
                </div>
              </div>
              <div class="reply-action">
                  <h6>Responder</h6>
                  <div class="replying">
                    <div class="replying-body">
                      <div class="replying-head">
                        <%= image_tag current_user.avatar_thumbnail, :class => "replying-thumbnail" %>
                      </div>
                      <div class="reply-form">
                        <%= form_with url: new_reply_path(post.id, comment.id), method: :post do |f| %>
                          <%= f.text_field :content, placeholder: "Responder" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>

            <% if comment.replies.any? %>
              <% comment.replies.each do |reply| %>
                <div class="reply-content">
                  <div class="reply-head">
                    <%= image_tag reply.user.avatar_thumbnail, class: "reply-content-thumbnail" %>
                  </div>
                  <div class="reply-body">
                    <p><%= link_to(reply.user.username, profile_user_path(reply.user.id)) %> <br> <%= reply.content %></p>
                  </div>
                </div>
              <% end %>
            <% end %> 

          <% end %>

          <div class="comment-form">
            <div class="comment-head">
              <%= image_tag current_user.avatar_thumbnail, :class => "comment-thumbnail" %>
            </div>
            <div class="comment-body">
              <%= form_with url: new_comment_path(post.id), method: :post do |f| %>
                <%= f.text_field :content, placeholder: "Comentar" %>
              <% end %>
            </div>
          </div>
        
          </div>
          
        </div>

      </div>

    </div>
  <% end %>

  <%= render 'partials/foot' %>