<%= render "partials/nav" %>
<div class="feed">
  <div class="search-section">
    <form class="search-bar">
      <input placeholder="Publicaciones, tendencias." name="query" <%= @q %> >
      <button type="submit" class="search-submit">Buscar</button>
    </form>
  </div>
  <div class="post-new">
    <%= render "posts/formv2" %>
  </div>

  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <div class="head">
          <div class="post-avatar">
            <%= image_tag post.user.avatar_thumbnail, :class => "post-thumbnail" %>
          </div>
          <div class="post-title">  
            <p> <%= link_to(post.user.username, profile_user_path(post.user.id)) %></p>
            <p class="post-date"><%= I18n.l(post.created_at, format: '%d de %B de %Y') %></p>
          </div>
        </div>
        <br>
        <div class="post-content">
          <%= post.content %>
        </div>
        <br>
        <% if post.image.attached? %>
          <div class="image-wrapper">
            <%= image_tag post.image_thumbnail %>
          </div>
        <% end %>
        <% if post.video.attached? %>
          <%= video_tag(url_for(post.video), :controls => "", :width => "650", :height => "500") %>
        <% end %>

      <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= link_to post_like_path(post, pre_like), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to post_likes_path(post), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Me gusta' : 'Me gustan'%></p>


<!--Comment section-->
      <p><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comentario' : 'Comentarios'%></p>
          <%= form_with url: new_comment_path(post.id), method: :post do |f| %>
            <%= f.text_field :content %>
            <%= f.submit "Comentar" %>
          <% end %>
          <% post.comments.each do |comment| %>

            <% if comment.reply_id == nil %>
              <p><strong><%= comment.content %></strong></p>
              <%= form_with url: new_reply_path(post.id, comment.id), method: :post do |f| %>
                <%= f.text_field :content %>
              <%= f.submit "Responder" %>
            <% end %>
          <% end %>
            <% if comment.replies.any? %>
              <% comment.replies.each do |reply| %>
                <p><%= reply.content %> </p>
              <% end %>
            <% end %>
           
          <% end %>
        </div>

      </div>

    </div>
  <% end %>

  <!--<% @users.each do |user| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= user.email %></h5>
        
      <%# <% if user == current_user %> %>
        <h2>Followers: <%= user.followers.count %></h2>
        <h2>Following: <%= user.following.count %></h2>
      <%# <% else %> %>
        <%# <%= link_to 'Follow', user_relationships_path(user), method: :post unless user.followers.find_by(follower: current_user).present? %> %>
        <%# <%= link_to 'Unfollow', relationship_path(user.followers.find_by(follower: current_user)), method: :delete if user.followers.find_by(follower: current_user).present? %> %>
        <h2>Followers: <%= user.followers.count %></h2>
        <h2>Following: <%= user.following.count %></h2>
      <%# <% end %> %>


        </div>
    </div>
  <% end %>-->

