<%= render 'partials/nav' %>

<div class="demo-case">
    <% @demos.each do |demo| %>
        <div class="demo-wrapper">
            <div class="demo-info">
                <%= image_tag(demo.user.avatar_thumbnail, class: "demo-avatar") %>
                <%= link_to(demo.user.username, profile_user_path(demo.user.id)) %>
                
                <div class="demo-description">
                    <%= demo.content %>
                </div>
            </div>
            <%= video_tag(url_for(demo.video), :controls => "", :class => "demo-video") %>
        </div>
    <% end %>
</div>

<%= render 'partials/foot' %>