<a id="back2Top" title="Back_to_top" href="#">&#10148;</a>

<footer class="footer">
<div class="footer-search-section">
  <form class="bar">
    <input placeholder="Publicaciones, tendencias." name="query" <%= @q %> >
  </form>
</div>
<ul>
    <li class="">
      <%= link_to(root_path) do %>
        <i class="fas fa-home"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to() do %>
        <i class="fas fa-compass"></i>
      <% end %>
    </li>
    <% if current_user %>
        <li class="foot-menu">
            <%= image_tag current_user.avatar_thumbnail, :class => "footer-thumbnail", :id => "footer-thumbnail" %> 
        </li>
    <% else %>
        <li>
            <%= link_to(new_user_session_path) do %>
                <p class="nav-link">Sign In</p>
            <% end %>
        </li>
    <% end %>
  </ul>  
  <div class="mobile-menu" id="mobile-menu">
    <ul class="mobile-menu-list">
      <li><%= link_to 'Perfil', profile_path %></li>
      <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</footer>