<nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <%= link_to(root_path) do %>
          <%= image_tag asset_path('logo.png'), :style => 'width: 150px' %>
        <% end %>
        <ul class="nav">
          <li class="nav-item">
            <%= link_to() do %>
              <i class="fas fa-bell"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to() do %>
              <i class="fas fa-comments"></i>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to(root_path) do %>
              <i class="fas fa-home"></i>
            <% end  %>
          </li>
          <li class="nav-item">
            <%= link_to() do %>
              <i class="fas fa-compass"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to() do %>
              <i class="fas fa-comments"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to() do %>
              <i class="fas fa-bell"></i>
            <% end %>
          </li>
          <% if current_user %>
          <li class="nav-item">
            <%= image_tag current_user.avatar_thumbnail, :class => "navbar-thumbnail", :id => "navbar-thumbnail" %> 
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to(new_user_session_path) do %>
                <p class="nav-link">Sign In</p>
              <% end %>
            </li>
          <% end %>
          <div class="menu" id="menu">
            <ul class="menu-list">
              <li><%= link_to 'Perfil', profile_path %></li>
              <li>Otro Menos</li>
              <li><%= link_to 'Editar Perfil', edit_user_registration_path %></li>
              <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </ul>
      </div>
    </nav>
    <p class="alert"><%= alert %></p>