<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLabel">!Registrarse es sencillo!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'devise/registrations/new' %>
      </div>
    </div>
  </div>
</div>

<div class="login">

  <div class="login-form">
    <%= image_tag asset_path('logo.png'), :style => 'width: 200px', :class => 'login-logo' %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@example.com" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "contraseña" %>
      </div>

      <!--<% if devise_mapping.rememberable? %>
        <div class="field remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>-->

      <div class="actions">
        <%= f.submit "Ingresar", class: "login-button" %>
      </div>

      <%= render "devise/shared/links" %>

    <% end %>

  </div>

    <div class="desktop-carousel">
      <div id="desktop-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="<%= asset_path('carousel1.jpg') %>" class="w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="<%= asset_path('carousel2.jpg') %>" class="w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="<%= asset_path('carousel3.jpg') %>" class="w-100" alt="...">
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-carousel">
      <div id="mobile-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="<%= asset_path('carousel-mobile1.jpg') %>" width="700px" height="900px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="<%= asset_path('carousel-mobile2.jpg') %>" width="700px" height="900px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="<%= asset_path('carousel-mobile3.jpg') %>" width="700px" height="900px" alt="...">
          </div>
        </div>
      </div>
    </div>

</div>
