<%= render "partials/nav" %>

<div class="profile">
    <div class="avatar-section">
        <%= image_tag current_user.avatar_thumbnail, :class => "profile-thumbnail" %>
    </div>

    <div class="details-section">
        <div class="name">
            <h2><%= current_user.username %></h2>
            <%= link_to 'Editar Perfil', edit_user_registration_path, class: "edit-button" %>
        </div>
        <ul class="d-inline-flex">
            <li><strong><%= current_user.posts.count %></strong> Publicaciones</li>
            <li><strong><%= current_user.followers.count %></strong> Seguidores</li>
            <li><strong><%= current_user.following.count %></strong> Seguidos</li>
        </ul>
        <br>
        <p class="description-text">
            <%= current_user.description %>
        </p>
    </div>
</div>

<div class="posts">
    <% if @my_posts.count >= 1 %>
        <div class="profile-text-wrapper">
            <% @my_posts.each do |post| %>
                    <div class="profile-post-wrapper">
                        <div class="head">
                            <div class="profile-post-avatar">
                                <%= image_tag post.user.avatar_thumbnail, :class => "post-thumbnail" %>
                            </div>
                            <div class="profile-post-title">  
                                <p><%= post.user.username %></p>
                                <p><%= I18n.l(post.created_at, format: '%d de %B de %Y') %></p>
                            </div>
                        </div>
                        <br>
                        <div class="profile-post-content">
                            <%= post.content %>
                        </div>
                        <div class="profile-images">
                    <% if post.image.attached? %>
                        <%= image_tag post.image_thumbnail, :class => "profile_image" %>
                    <% end %>
                </div>
                <div class="profile-videos">
                    <% if post.video.attached? %>
                        <%= video_tag(url_for(post.video), :controls => "", :class => "profile_video") %>
                    <% end %>
                </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <p class="text-center"><strong>No hay publicaciones por mostrar</strong></p>
    <% end %>    
</div>

<%= render 'partials/foot_variant' %>


