<%= render "partials/nav" %>

<div class="profile">
    <div class="avatar-section">
        <%= image_tag current_user.avatar_thumbnail, :class => "profile-thumbnail" %>
    </div>

    <div class="details-section">
        <div class="name">
            <h2><%= current_user.username %></h2>
            <%= link_to 'Editar Perfil', edit_user_registration_path, class: "edit-button" %>
        </div>
        <ul class="d-inline-flex">
            <li><strong><%= current_user.posts.count %></strong> Publicaciones</li>
            <li><strong><%= current_user.followers.count %></strong> <%= (current_user.followers.count) == 1 ? 'Seguidor' : 'Seguidores'%></li>
            <li><strong><%= current_user.following.count %></strong> <%= (current_user.following.count) == 1 ? 'Seguido' : 'Seguidos'%></li>
        </ul>
        <br>
        <p class="description-text">
            <%= current_user.description %>
        </p>
    </div>
</div>

<div class="edit-mobile">
    <%= link_to 'Editar Perfil', edit_user_registration_path, class: "edit-button-mobile" %>
</div>

<div class="posts">
    <% if @my_posts.count >= 1 %>
        <div class="profile-text-wrapper">
            <% @my_posts.each do |post| %>
                    <div class="profile-post-wrapper">
                        <div class="head">
                            <div class="profile-post-avatar">
                                <%= image_tag post.user.avatar_thumbnail, :class => "post-thumbnail" %>
                            </div>
                            <div class="profile-post-title">  
                                <p><%= post.user.username %></p>
                                <p><%= I18n.l(post.created_at, format: '%d de %B de %Y') %></p>
                            </div>
                            <div class="profile-post-delete">
                                <i class="fas fa-ellipsis-v"></i>
                              <div class="profile-post-options">
                                <ul>
                                  <li>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#edit-post">Editar</a>
                                  </li>
                                  <li>
                                    <%= link_to 'Eliminar', post_path(post.id), method: "delete", :data => {:confirm => '¿Estás Seguro?'} %>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </div>


                        <div class="modal fade" id="edit-post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <%= render 'posts/formv2', post: @post %>
                              </div>
                            </div>
                          </div>
                        </div>


                        <br>
                        <div class="profile-post-content">
                            <%= post.content %>
                        </div>
                        <div class="profile-images">
                    <% if post.image.attached? %>
                        <%= image_tag post.image_thumbnail, :class => "profile_image" %>
                    <% end %>
                </div>
                <div class="profile-videos">
                    <% if post.video.attached? %>
                        <%= video_tag(url_for(post.video), :controls => "", :class => "profile_video") %>
                    <% end %>
                </div>
                <div class="post-stats">
          <div class="like-stats" id="like_stats_<%= post.id %>">
            <p data-bs-toggle="modal" data-bs-target="#likesModal<%= post.id %>"><%= post.likes.count %> Me gusta</p>
          </div>
          <div class="comment-stats" id="comment_stats_<%= post.id %>">
            <p><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comentario' : 'Comentarios'%></p>
          </div>
        </div>
        <hr>
<!---------------------------- Start Likes Modal ---------------------------->
    <div class="modal fade" id="likesModal<%= post.id %>" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title" id="likesModalLabel">Likes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                  <% post.likes.each do |l| %>
                    <div class="col-8 mb-4">
                      <div class="like-modal-user text-right">
                        <div class="post-avatar">
                          <%= image_tag l.user.avatar_thumbnail, :class => "post-thumbnail" %>
                        </div>
                        <div class="post-title">
                          <p class="mx-4"><%= link_to l.user.name, profile_user_path(l.user.id) %></p>
                          <p class="text-muted post-date mx-4"><%= l.user.username %></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 mb-4 text-end">
                      <% if l.user.followers.find_by(follower: current_user).present? %>
                        <%= link_to "Chat", rooms_path(user_id: l.user.id), method: :posts, class: "btn btn-outline-secondary btn-sm"  %>
                      <% elsif %>
                        <%= link_to 'Seguir', follow_path(l.user.id), method: :post, class: "btn btn-outline-secondary btn-sm" unless l.user.followers.find_by(follower: current_user).present? %> 
                      <% end %>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!---------------------------- End Likes Modal ---------------------------->

      <div class="post-interactions">
        <div class="likes">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <div class="like" id="like_<%= post.id %>">
            <% if pre_like %>
              <%= link_to post_like_path(post, pre_like.id), method: :delete, remote: true do %>
                <p><i class="fas fa-heart"></i> Me gusta</p>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(post), method: :post, remote: true do %>
                <p><i class="far fa-heart"></i> Me gusta</p>
              <% end %>
            <% end %>
          </div>
          
        </div>
        <div class="comments">
          <% pre_comment = post.comments.find { |comment| comment.user_id == current_user.id } %>
          <% if pre_comment %>
            <p><i class="fas fa-comment"></i> Comentar</p>
          <% else %>
            <p><i class="far fa-comment"></i> Comentar</p>
          <% end %> 
        </div>
      </div>
      <hr>

<!--Comment section-->
          <div class="comments-section">

            <% post.comments.each do |comment| %>
            <% if !comment.reply_id %>
              <div class="comment-content">
                <div class="content-head">
                  <%= image_tag comment.user.avatar_thumbnail, class: "comment-content-thumbnail" %>
                </div>
                <div class="content-body">
                  <p><%= link_to(comment.user.username, profile_user_path(comment.user.id)) %> <br> <%= comment.content %></p>
                </div>
              </div>
              <div class="reply-action">
                  <h6>Responder</h6>
                  <div class="replying">
                    <div class="replying-body">
                      <div class="replying-head">
                        <%= image_tag current_user.avatar_thumbnail, :class => "replying-thumbnail" %>
                      </div>
                      <div class="reply-form">
                        <%= form_with url: new_reply_path(post.id, comment.id), method: :post do |f| %>
                          <%= f.text_field :content, placeholder: "Responder" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>

            <% if comment.replies.any? %>
              <% comment.replies.each do |reply| %>
                <div class="reply-content">
                  <div class="reply-head">
                    <%= image_tag reply.user.avatar_thumbnail, class: "reply-content-thumbnail" %>
                  </div>
                  <div class="reply-body">
                    <p><%= link_to(reply.user.username, profile_user_path(reply.user.id)) %> <br> <%= reply.content %></p>
                  </div>
                </div>
              <% end %>
            <% end %> 

          <% end %>

          <div class="comment-form">
            <div class="comment-head">
              <%= image_tag current_user.avatar_thumbnail, :class => "comment-thumbnail" %>
            </div>
            <div class="comment-body">
              <%= form_with url: new_comment_path(post.id), method: :post do |f| %>
                <%= f.text_field :content, placeholder: "Comentar" %>
              <% end %>
            </div>
          </div>
        
          </div>
          
        </div>

      </div>

    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <p class="text-center"><strong>No hay publicaciones por mostrar</strong></p>
    <% end %>    
</div>

<%= render 'partials/foot_variant' %>


